{% extends "base.html" %} {% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %} {% load static %} {% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker/jquery.datetimepicker.css' %} "/>
    <script src="{% static 'js/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'js/php-date-formatter.min.js' %}"></script>
    <script src="{% static 'js/datetimepicker/jquery.datetimepicker.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock extra_head %} {% block content %}
    <header class="text-gray-100 body-font shadow w-full h-36"
            style="background: rgb(244,199,73); background: radial-gradient(circle, rgba(244,199,73,1) 0%, rgba(203,166,62,1) 35%, rgba(171,137,41,1) 100%);">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"></div>
    </header>
    <div class="grid gap-5 grid-cols-1 lg:grid-cols-2 md:grid-cols-2 grid-rows-1 justify-center py-10 xl:py-20 lg:py-20 md:py-20 mx-5 xl:mx-0 lg:mx-0 md:mx-10">
        <div class="xl:w-3/4 lg:w-3/4 justify-self-end border shadow-lg p-5 xl:p-20 lg:p-10 md:p-10">
            <h2 class="mb-5 text-lg text-center md:text-4xl lg:text-4xl font-light text-gray-900">Complete your booking.
            </h2>
            <h3 class="mb-5 text-lg text-center md:text-lg lg:text-lg font-light text-gray-900">Just a few more details
                and we can complete your booking!</h3>
            <form method="POST" id="bookingForm" data-states-url="ajax/load-states" data-cities-url="ajax/load-cities">
                {% csrf_token %}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Contact Info</h2>
                {{ form.firstname }} {{ form.lastname }} {{ form.email }} {{ form.phone }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Address</h2>
                {{ form.address }} {{ form.suite }} {{ form.country }} {{ form.state }} {{ form.city }} {{ form.zipcode }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Service Date</h2>
                {{ form.date }} {{ form.time }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Choose your service</h2>
                {{ form.area }} {{ form.cleaning_type }} {{ form.maid_qty }} {{ form.hours_qty }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Additionals</h2>
                {{ form.room_type }} {{ form.bathroom }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Frecuency</h2>
                {{ form.frequency }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Select Extras</h2>
                <div id="extra-opts"></div>
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Booking Info</h2>
                {% include 'snippets/flexibility.html' %}
                <h2 class="my-5 text-lg md:text-lg lg:text-lg font-semibold text-gray-900">How will we gain entry? *
                </h2>
                {{ form.entry }}
                <h2 class="my-5 text-lg md:text-lg lg:text-lg font-semibold text-gray-900">Are there any pets? *
                </h2>
                {{ form.pets }}
                <h2 class="my-5 text-lg md:text-lg lg:text-lg font-semibold text-gray-900">Have you or anyone in your
                    home been exposed to COVID-19 in the past 14 days? *</h2>
                {{ form.covid }}
                <h2 class="my-5 text-lg md:text-2xl lg:text-2xl font-semibold text-gray-900">Customer Comments</h2>
                {{ form.comments }} {{ form.subtotal }} {{ form.tax }} {{ form.total }} {{ form.estimated_time }}

                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>


                <button type="submit"
                        class="mt-4 px-4 py-2  text-base rounded-full text-indigo-500 border border-indigo-500">Book
                    Now
                </button>
            </form>
        </div>
        <div class="xl:w-3/4 lg:w-3/4 border shadow-lg p-5 xl:p-20 lg:p-10 md:p-10 h-full">
            <div class="sticky top-10">
                <h3 class="text-lg text-center md:text-2xl lg:text-2xl font-semibold text-gray-900">Booking Summary</h3>
                <div class="bg-gray-100 rounded flex p-4 items-center mt-5">
                    <i class="fas fa-house-user mr-4 text-xl" style="color: #E4C059"></i>
                    <p><span id="sumary_service"></span></p>
                </div>
                <div class="bg-gray-100 rounded flex p-4 items-center mt-2">
                    <i class="fas fa-calendar-alt mr-4 text-xl" style="color: #E4C059"></i>
                    <p><span id="sumary_datetime">Choose Service Date</span></p>
                </div>
                <div class="bg-gray-100 rounded flex p-4 items-center mt-2">
                    <i class="fas fa-clock mr-4 text-xl" style="color: #E4C059"></i>
                    <p><span id="sumary_duration"></span></p>
                </div>
                <div class="bg-gray-100 rounded flex p-4 items-center mt-2">
                    <i class="fas fa-sync-alt mr-4 text-xl" style="color: #E4C059"></i>
                    <p><span id="sumary_frequency"></span></p>
                </div>
                <hr/>
                <p class="mt-4 flex items-center">Subtotal: <span id="summary_subtotal" class="subtotal"></span></p>
                <p class="my-3">Sales Tax: <span id="summary_tax" class="tax"></span></p>
                <p class="my-3">Total: <span id="summary_total" class="total text-2xl text-gray-900 font-bold"></span>
                </p>
                <hr/>

                <div class="mt-5" id="submitSuccessResult" style="display: none; color: #694188;">

                    Thanks <span id="orderUser"></span> for trust in Service With Love! <br/> Your service with order #
                    <span id="orderNumber"></span> and a total of $ <span id="orderTotal"></span> has been settled.
                    <br/> We
                    send an email to <span id="orderEmail"></span>

                </div>

                <div class="mt-5" id="submitErrorResult" style="display: none; color: #694188;">
                </div>
            </div>
        </div>
    </div>

{% endblock content %} {% block js_scripts %}
    <script>
        var stripe = Stripe('pk_test_51IdeVKJbMdRS1I8IsuHRhXb0q0adhLHC4e1CcaxiWeXeX6rD2LuZtsHe29TFTg9Zah1HrFOZQ0FAjbEW0UWwbTOH00MlOOgPOd');
        var elements = stripe.elements();
        var form = $('#bookingForm');
        var submitSuccessResult = $('#submitSuccessResult');
        var submitFailResult = $('#submitErrorResult');
        var startingPrice = 0;
        var salesTax = 0;
        var maidQty = 1;
        var hourQty = 2.0;
        var allowedHours = [];
        var minDate = '';
        var maxDate = '';
        var startingTime = 90;
        var blockedDates = [];
        var blockedDateHours = [];

        // Custom styling can be passed to options when creating an Element.
        var cardInputStyle = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
            },
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {
            hidePostalCode: true,
            style: cardInputStyle
        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        function getBasePrice() {
            var url = 'ajax/get-base-price/2';
            var basePrice = $.ajax({
                url
            });

            var url = 'ajax/get-base-price/3';
            var baseTax = $.ajax({
                url
            });

            $.when(basePrice, baseTax).then(function (basePrice, baseTax) {
                startingPrice = basePrice[0].price;
                salesTax = baseTax[0].price;
                startingTime = 90;
                publishValues(startingPrice, 0);
                publishTime(startingTime);
            });
        }

        function setSummaryDetails() {
            var areaText = $("#id_area option:selected").text();
            var frequencyText = $("#id_frequency option:selected").text();
            var dateText = $("#id_date").val();
            var timeText = $("#id_time").val();
            var dateTimeText = `${dateText} @ ${timeText}`;
            $("#sumary_service").html(areaText);
            $("#sumary_frequency").html(frequencyText);
            dateTimeText == ' @ ' ? $("#sumary_datetime").html('Choose Service Date') : $("#sumary_datetime").html(dateTimeText);
        }

        function publishTime(minutes) {
            var hours = Math.floor(minutes / 60);
            var min = minutes % 60;
            var duration = '';
            hours === 1 ? text = 'hour' : text = 'hours';
            min == 0 ? duration = `${hours}  ${text}` : duration = `${hours} ${text} and ${min} minutes`;
            $("#id_estimated_time").val(minutes);
            $('#sumary_duration').html(duration);
        }

        function getAllowedHours() {
            allowedHours = [];
            for (i = 8; i <= 19; i++) {
                var oclock = `${i}:00`
                var half = `${i}:30`
                allowedHours.push(oclock);
                if (i != 19)
                    allowedHours.push(half);
            }
        }

        function getMinMaxDates() {
            var currentDate = new Date();
            currentDate.setDate(currentDate.getDate() + 1);
            minDate = `${currentDate.getFullYear()}/${currentDate.getMonth() + 1}/${currentDate.getDate()}`;
            currentDate.setDate(currentDate.getDate() + 60);
            maxDate = `${currentDate.getFullYear()}/${currentDate.getMonth() + 1}/${currentDate.getDate()}`;
            getBlockedDates();
        }

        function getBlockedDates() {
            var url = 'ajax/get-blocked-times/';
            $.ajax({
                url,
                success: function (response) {
                    $.each(response, function (index, date) {
                        if (date.from_time && date.to_time)
                            blockedDateHours.push(date);
                        else
                            blockedDates.push(date.from_date);
                    });

                    $.datetimepicker.setLocale('en');
                    $("#id_date").datetimepicker({
                        lang: 'en',
                        timepicker: false,
                        format: 'Y-m-d',
                        formatDate: 'Y-m-d',
                        minDate: minDate, // tomorrow is minimum date
                        maxDate: maxDate, //60 days forward is max date
                        disabledDates: blockedDates,
                    });

                    $('#id_time').datetimepicker({
                        datepicker: false,
                        onGenerate: getAllowedHours(),
                        format: 'H:i',
                        allowTimes: allowedHours,
                        step: 30
                    });
                }
            });
        }

        function calculateExtraOptsPrice(arrayExtraOpts) {
            var total = 0;
            var minutes = 0;

            $.each(arrayExtraOpts[0], function (index, elem) {
                total += elem.price;
                minutes += elem.minutes;
            });
            return {
                total,
                minutes
            }
        }

        function calculateValues() {
            var extraOpts = [];
            var discount = 0;
            var total = 0;
            var subtotal = 0;

            var areaId = $("#id_area").val();
            var areaText = $("#id_area option:selected").html();

            var cleaningTypeId = $("#id_cleaning_type").val();
            var roomId = $("#id_room_type").val();
            var bathroomId = $("#id_bathroom").val();
            var freqId = $("#id_frequency").val();


            $("input[name='extra_opts']:checked").each(function () {
                extraOpts.push(parseInt($(this).val()));
            });

            extraOpts = JSON.stringify(extraOpts)

            var url = `ajax/get-extraopts-price/`;
            var extraOptsResponse = $.ajax({
                url,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: extraOpts
            });

            if (areaText.match(/custom/i)) {
                var url = 'ajax/get-base-price/1'
                var maidResponse = $.ajax({
                    url
                });

                maidQty = parseInt($('#id_maid_qty').val());
                hourQty = parseFloat($('#id_hours_qty').val());


                $.when(maidResponse, extraOptsResponse).then(function (maidPrice, extraOptsPrice) {
                    extraOptsTotal = calculateExtraOptsPrice(extraOptsPrice);
                    subtotal = maidPrice[0].price * hourQty * maidQty + extraOptsTotal.total;
                    publishValues(subtotal);
                    publishTime((60 * hourQty) + extraOptsTotal.minutes)
                }, function () {
                    console.log('something fails');
                });

            } else {
                var url = `ajax/get-cleaningtype-price/${cleaningTypeId}`;
                var cleaningTypeResponse = $.ajax({
                    url
                });

                var roomResponse = false;
                if (roomId) {
                    var url = `ajax/get-room-price/${roomId}`;
                    var roomResponse = $.ajax({
                        url
                    });
                }

                var bathroomResponse = false;

                if (bathroomId) {
                    var url = `ajax/get-bathroom-price/${bathroomId}`;
                    var bathroomResponse = $.ajax({
                        url
                    });
                }

                $.when(cleaningTypeResponse, roomResponse, bathroomResponse, extraOptsResponse).then(function (cleaningTypePrice, roomPrice, bathroomPrice, extraOptsPrice) {
                        extraOptsTotal = calculateExtraOptsPrice(extraOptsPrice);
                        var finalRoomPrice = roomResponse ? roomPrice[0].price : 0;
                        var finalBathRoomPrice = bathroomResponse ? bathroomPrice[0].price : 0;
                        var finalRoomMinutes = roomResponse ? roomPrice[0].minutes : 0;
                        var finalBathRoomMinutes = bathroomResponse ? bathroomPrice[0].minutes : 0;

                        subtotal = startingPrice + cleaningTypePrice[0].price + finalRoomPrice + finalBathRoomPrice + extraOptsTotal.total;
                        startingTime = cleaningTypePrice[0].minutes;
                        publishValues(subtotal);
                        publishTime(startingTime + extraOptsTotal.minutes + finalRoomMinutes + finalBathRoomMinutes);
                    },
                    function () {
                        console.log('something fails');
                    });
            }
        }

        function publishValues(subtotal) {
            tax = subtotal * (salesTax / 100);
            total = subtotal + tax;
            total = total.toFixed(2);
            tax = tax.toFixed(2);

            $("#id_subtotal").val(subtotal);
            $("#id_tax").val(tax);
            $("#id_total").val(total);

            $("#summary_subtotal").html(`$${subtotal}`);
            $("#summary_tax").html(`$${tax}`);
            $("#summary_total").html(`$${total}`);

        }

        function getStates() {
            var countryId = $("#id_country").val();
            var url = $("#bookingForm").attr("data-states-url");
            $.ajax({
                url,
                data: {
                    'country': countryId
                },
                success: function (data) {
                    $("#id_state").html(data);
                    getCitiesList()
                }
            });
        }

        function getCitiesList() {
            var stateId = $("#id_state").val();
            var url = $("#bookingForm").attr("data-cities-url");
            $.ajax({
                url,
                data: {
                    'state': stateId
                },
                success: function (data) {
                    $("#id_city").html(data);
                }
            });
        }

        function getExtraOptions() {
            var url = 'ajax/load-options';
            $.ajax({
                url,
                data: {},
                success: function (data) {
                    $("#extra-opts").html(data);
                }
            });
        }


        function setStartingValues() {
            getExtraOptions();
            getStates();
            getBasePrice();
            setSummaryDetails();
            publishTime(startingTime);
            getMinMaxDates();
        }

        $(document).ready(function () {
            setStartingValues();
        });

        $("#id_country").change(function () {
            getStates();
        });

        $("#id_state").change(function () {
            getCitiesList();
        });

        $("#id_frequency").change(function () {
            calculateValues();
            setSummaryDetails();
        });

        $("#id_area").change(function () {
            var areaId = $(this).val();
            var areaText = $("#id_area option:selected").html();
            //$('#id_extra_opts input:checkbox').prop('checked', false)

            if (areaText.match(/custom/i)) {
                $("#id_maid_qty").show();
                $('#id_hours_qty').show();
                $('#id_cleaning_type').hide();
                $('#id_room_type').hide();
                $('#id_bathroom').hide();
                // $("#id_extra_opts").hide();

                $('#id_cleaning_type').val(1);
                $('#id_room_type').val(1);
                $('#id_bathroom').val(1);

                calculateValues();
            } else {
                $("#id_maid_qty").hide();
                $('#id_hours_qty').hide();
                $('#id_cleaning_type').show();
                $('#id_room_type').show();
                $('#id_bathroom').show();
                // $("#id_extra_opts").show();

                $("#id_maid_qty").val(1);
                $('#id_hours_qty').val('2.0');
                getBasePrice();
            }
            setSummaryDetails();
        });

        $("#id_cleaning_type").change(function () {
            calculateValues();
        });

        $("#id_room_type").change(function () {
            calculateValues();
        });

        $("#id_bathroom").change(function () {
            calculateValues();
        });

        $("#id_maid_qty").change(function () {
            calculateValues();
        });


        $("#id_hours_qty").change(function () {
            calculateValues();
        });

        $("#id_extra_opts").change(function () {
            calculateValues();
        });

        function getDateFromHours(time) {
            time = time.split(':');
            let now = new Date();
            return new Date(now.getFullYear(), now.getMonth(), now.getDate(), ...time);
        }


        $("#id_date").change(function () {
            getAllowedHours();
            var filteredHours = [];

            for (var i = 0; i < blockedDateHours.length; i++) {
                if (blockedDateHours[i].from_date == $(this).val()) {
                    var startTime = getDateFromHours(blockedDateHours[i].from_time);
                    var endTime = getDateFromHours(blockedDateHours[i].to_time);
                    for (var j = 0; j < allowedHours.length; j++) {
                        var hourToTest = getDateFromHours(allowedHours[j]);
                        if (hourToTest.toString() < startTime.toString() || hourToTest.toString() >= endTime.toString()) {
                            // console.log(`eliminado ${allowedHours[j]}`);
                            // allowedHours.splice(j, 1);
                            filteredHours.push(allowedHours[j]);
                        } else {
                        }
                    }
                }
            }
            if (filteredHours.length > 0)
                allowedHours = filteredHours;

            $("#id_time").datetimepicker({
                value: allowedHours[0],
                allowTimes: allowedHours,
            });

            setSummaryDetails();
        });

        $("#id_time").change(function () {
            setSummaryDetails();
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('bookingForm');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            $.ajax({
                url: "{% url 'booking:new_booking' %}",
                type: 'POST',
                data: $('#bookingForm').serializeArray(),

                success: function (resp) {
                    $('#orderUser').html(`${resp.servicefirstname} ${resp.servicelastname}`);
                    $('#orderNumber').html(`${resp.serviceid}`);
                    $('#orderTotal').html(`${resp.servicetotal}`);
                    $('#orderEmail').html(`${resp.serviceemail}`);
                    submitSuccessResult.show();
                    submitFailResult.hide();
                },

                error: function (xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    var keys = Object.keys(response);
                    var htmlText = 'Seemes like we have some errors:<br />'

                    keys.forEach((key, index) => {
                        htmlText += `${key}: ${response[key][0].message} <br />`;
                    });
                    submitSuccessResult.hide();
                    submitFailResult.html(htmlText);
                    submitFailResult.show();
                }
            });


        }

        form.submit(function (e) {
            e.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });

        });
    </script>

{% endblock js_scripts %}