{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<header class="text-gray-100 body-font shadow w-full h-36"
        style="background: rgb(180,143,209); background: radial-gradient(circle, rgba(180,143,209,1) 0%, rgba(156,114,190,1) 35%, rgba(99,59,130,1) 100%);">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"></div>
</header>
{% placeholder card_organizing %}
<div class="grid grid-cols-1 mx-5 md:mx-10 xl:mx-96 lg:grid-cols-2 lg:mx-20 lg:gap-10 md:grid-cols-2 md:mx-10 md:gap-10">
    <div>
        {% placeholder paragraph_5 %}
    </div>
    <div>
        {% placeholder paragraph_6 %}
    </div>
</div>
<div class="mx-20 py-10 xl:py-5 mt-20 text-center">
    {% placeholder conditions_2 %}
</div>
<div class="mx-4">
    {% include 'snippets/conditions.html' %}
</div>
<div class="mx-4 text-center mb-36">
    {% include 'snippets/modal.html' %}
</div>
{% endblock content %}