{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <header class="text-gray-100 body-font shadow w-full h-36"
            style="background: rgb(180,143,209); background: radial-gradient(circle, rgba(180,143,209,1) 0%, rgba(156,114,190,1) 35%, rgba(99,59,130,1) 100%);">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"></div>
    </header>
    <section class="container mx-auto text-center md:px-16 px-10 mb-12 lg:mt-0 py-12">
        {% placeholder terms_content %}
    </section>
    <div class="mx-20 py-10 xl:py-5 text-center">
        {% placeholder conditions_terms %}
    </div>
    <div class="mx-4">
        {% include 'snippets/conditions.html' %}
    </div>
    <div class="mx-4 text-center mb-36">
        {% include 'snippets/modal.html' %}
    </div>
    <section class="container mx-auto text-center md:px-16 px-10 mb-12 lg:mt-0 py-12">
        {% placeholder terms_content_2 %}
    </section>
    <div class="py-1" style="background-color: #BC96DA">
        {% placeholder import_information %}
    </div>
    <section class="container mx-auto text-center md:px-16 px-10 mb-12 lg:mt-0 py-12">
        {% placeholder terms_content_3 %}
    </section>
    <div class="py-1 mb-12" style="background-color: #BC96DA">
        {% placeholder import_information_3 %}
    </div>

{% endblock content %}
