<html>
    <body>
        <p>
            Hi, {{appointment.firstname}} {{appointment.lastname}}<br /> 
            These are the details of your clean appointment settled for {{appointment.date}} at {{appointment.time}} with order # {{appointment.id}}:
        </p>
        <table>
        <tr>
            <td>City, State: </td>
            <td>{{appointment.city}}, {{appointment.state.code}}</td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>{{appointment.address}}, suite: {{appointment.suite}}, zipcode: {{appointment.zipcode}}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{appointment.phone}}</td>
        </tr>
        </table>
        <br /> Service summary: <br />
        <table>
            <tr>
                <td>Area:</td>
                <td>{{appointment.area}}</td>
            </tr>

            {%if appointment.area.id == 1%}
            <tr>
                <td>Cleaning Type:</td>
                <td>{{appointment.cleaning_type}}</td>
            </tr>
            <tr>
                <td>Rooms Description:</td>
                <td>{{appointment.room_type}}, {{appointment.bathroom}}</td>
            </tr>
            {%else%}
            <tr>
                <td># of maids:</td>
                <td>{{appointment.maid_qty}}</td>
            </tr>
            <tr>
                <td># of hours:</td>
                <td>{{appointment.hours_qty}}</td>
            </tr>
            {%endif%}
            <tr>
                <td>Estimated service time:</td>
                <td>{{estimated_time}}</td>
            </tr>
            <tr>
                <td>Frequency:</td>
                <td>{{appointment.frequency}}</td>
            </tr>
        </table>

        {% if appointment.area.id == 1 %}
        <br /> Extras summary: <br />
        <table>
            {% for extra in appointment.extra_opts.all %}
            <tr><td>{{extra}}</td></tr>
            {%empty%}
            <tr><td>No extras selected</td></tr>
            {% endfor %}
        </table>
        {% endif %}

        <br /> Totals: <br />
        <table>
            <tr>
                <td>Subtotal:</td>
                <td>{{appointment.subtotal}}</td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td>{{appointment.discount}}</td>
            </tr>
            <tr>
                <td>Tax:</td>
                <td>{{appointment.tax}}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{appointment.total}}</td>
            <tr>
        </table>
        <br />
        Customer Notes: {{appointment.comments}} <br />
        What is your flexibility for the cleaning?: 
         {% for flexibility in appointment.flexibility.all %}
            {{flexibility}}, 
         {%empty%}
            No flexibility options selected
         {% endfor %}
        
        <br />
        How will we gain entry? : {{appointment.entry.label}} <br />
        Are there any pets? : {{appointment.pets.label}} <br />
        Have you or anyone in your home been exposed to COVID-19 in the past 14 days? : {{appointment.covid.label}} <br />
    </body>
</html>
