asgiref==3.3.4
astroid==2.5.2
autopep8==1.5.6
backcall==0.2.0
decorator==5.0.6
Django==3.1.8
django-classy-tags==2.0.0
django-cms==3.8.0
django-enumfield==2.0.2
django-filer==2.0.2
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.12.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-tawkto==0.3
django-treebeard==4.4
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
djangorestframework==3.12.4
easy-thumbnails==2.7.1
fontawesome-free==5.15.3
html5lib==1.1
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.8.0
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pycodestyle==2.7.0
Pygments==2.8.1
pylint==2.7.4
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
Unidecode==1.1.2
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
