{% load cms_tags menu_tags sekizai_tags static %}
<section class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 grid-rows-1 items-center
                lg:px-10 xl:px-52 px-5 gap-5 md:gap-6 lg:py-20 md:py-10 py-5 lg:px-40 mt-5 lg:mt-0 md:mt-0">
    <div class="h-92 p-20 bg-no-repeat shadow-md bg-contain"
         style="background-image: url('{% static 'img/Header_flower.jpg' %}')">
        <h2 class="mt-20 text-center text-gray-500 text-center text-4xl font-bold">Service Silver</h2>
        <h4 class="text-center">STUDIO</h4>
        <h2 class="text-center font-bold text-6xl text-serviceTitle">$140</h2>
        <p class="text-center py-10">Suitable for any studio less than 1,000 square feet. Anything over 1,000 square
            feet will be converted to the hourly rate.</p>
        <ul class="text-center leading-10">
            <li><i class="fas fa-check mr-5"></i>Clean all floor surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Dust and clean all accessible surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Make beds with existing linen.</li>
            <li><i class="fas fa-check mr-5"></i>Take out garbage and recycling.</li>
            <li><i class="fas fa-check mr-5"></i>Wash and sanitize the toilet, shower, bathtub, and sink.</li>
            <a href="https://servicewithlove.org/en/booking/" class="bg-serviceTitle rounded-xl text-white px-4 py-2">Book Now</a>
        </ul>
    </div>
    <div class="h-92 p-20 bg-no-repeat shadow-md bg-contain"
         style="background-image: url('{% static 'img/Header_flower.jpg' %}')">
        <h2 class="mt-20 text-center text-center text-4xl font-bold" style="color: #ffac00">Service Gold</h2>
        <h4 class="text-center">STUDIO</h4>
        <h2 class="text-center font-bold text-6xl text-serviceTitle">$150</h2>
        <p class="text-center py-10">Suitable for any studio less than 1,000 square feet. Anything over 1,000 square
            feet will be converted to the hourly rate.</p>
        <ul class="text-center leading-10">
            <li><i class="fas fa-check mr-5"></i>Clean all floor surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Dust and clean all accessible surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Make beds with existing linen.</li>
            <li><i class="fas fa-check mr-5"></i>Take out garbage and recycling.</li>
            <li><i class="fas fa-check mr-5"></i>Wash and sanitize the toilet, shower, bathtub, and sink.</li>
            <a href="https://servicewithlove.org/en/booking/" class="bg-serviceTitle rounded-xl text-white px-4 py-2">Book Now</a>
        </ul>
    </div>
    <div class="h-92 p-20 bg-no-repeat shadow-md bg-contain"
         style="background-image: url('{% static 'img/Header_flower.jpg' %}')">
        <h2 class="mt-20 text-center text-center text-4xl font-bold" style="color: #9a9a9a">Service Platinum</h2>
        <h4 class="text-center">STUDIO</h4>
        <h2 class="text-center font-bold text-6xl text-serviceTitle">$180</h2>
        <p class="text-center py-10">Suitable for any studio less than 1,000 square feet. Anything over 1,000 square
            feet will be converted to the hourly rate.</p>
        <ul class="text-center leading-10">
            <li><i class="fas fa-check mr-5"></i>Clean all floor surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Dust and clean all accessible surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Make beds with existing linen.</li>
            <li><i class="fas fa-check mr-5"></i>Take out garbage and recycling.</li>
            <li><i class="fas fa-check mr-5"></i>Wash and sanitize the toilet, shower, bathtub, and sink.</li>
            <a href="https://servicewithlove.org/en/booking/" class="bg-serviceTitle rounded-xl text-white px-4 py-2">Book Now</a>
        </ul>
    </div>
</section>
<section class="grid grid-cols-1 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 grid-rows-1 items-center
                lg:px-10 xl:px-96 px-5 gap-5 md:gap-6 lg:py-20 md:py-10 py-5 lg:px-40 mt-5 lg:mt-0 md:mt-0">
    <div class="h-92 p-20 bg-no-repeat shadow-md bg-contain"
         style="background-image: url('{% static 'img/Header_flower.jpg' %}')">
        <h2 class="mt-20 text-center text-gray-900 text-center text-4xl font-bold" style="color: #01cdfd">Service Diamond</h2>
        <h4 class="text-center">Three Bedroom</h4>
        <h2 class="text-center font-bold text-6xl text-serviceTitle">$140</h2>
        <p class="text-center py-10">Suitable for two-bedroom apartments under 1,600 sq feet. Anything over 1,600 sq ft
            will be converted to the hourly rate.</p>
        <ul class="text-center leading-10">
            <li><i class="fas fa-check mr-5"></i>Clean all floor surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Dust and clean all accessible surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Make beds with existing linen.</li>
            <li><i class="fas fa-check mr-5"></i>Take out garbage and recycling.</li>
            <li><i class="fas fa-check mr-5"></i>Wash and sanitize the toilet, shower, bathtub, and sink.</li>
            <a href="https://servicewithlove.org/en/booking/" class="bg-serviceTitle rounded-xl text-white px-4 py-2">Book Now</a>
        </ul>
    </div>
    <div class="h-92 p-20 bg-no-repeat shadow-md bg-contain"
         style="background-image: url('{% static 'img/Header_flower.jpg' %}')">
        <h2 class="mt-20 text-center text-gray-900 text-center text-4xl font-bold" style="color: #c73bef">Luxury Service</h2>
        <h4 class="text-center">Two floor house or Duplex</h4>
        <h2 class="text-center font-bold text-6xl text-serviceTitle">$250</h2>
        <p class="text-center py-10">Suitable for two-bedroom apartments under 2,300 sq feet. Anything over 2,300 sq ft
            will be converted to the hourly rate.</p>
        <ul class="text-center leading-10">
            <li><i class="fas fa-check mr-5"></i>Clean all floor surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Dust and clean all accessible surfaces.</li>
            <li><i class="fas fa-check mr-5"></i>Make beds with existing linen.</li>
            <li><i class="fas fa-check mr-5"></i>Take out garbage and recycling.</li>
            <li><i class="fas fa-check mr-5"></i>Wash and sanitize the toilet, shower, bathtub, and sink.</li>
            <a href="https://servicewithlove.org/en/booking/" class="bg-serviceTitle rounded-xl text-white px-4 py-2">Book Now</a>
        </ul>
    </div>
</section>