{% load cms_tags menu_tags sekizai_tags static %}
<section class="relative py-20 mb-36">
    <div class="relative container px-4 mx-auto">
        <div class="flex flex-wrap items-center mx-4">
            <div class="w-full lg:w-1/2 px-4 md:px-12 lg:px-12 xl:px-24 mb-12 lg:mb-0">
                <div>
                    <h2 class="mt-8 mb-6 lg:mb-10 lg:pr-8 text-4xl font-semibold text-center">Love about working with Our Clients</h2>
                    <p class="mb-6 lg:mb-12 text-xl text-gray-900 text-justify">Our clients are people focused on what is really
                        important in life. Executives, entrepreneurs, extraordinary people who have opened the doors of
                        their homes and their hearts to us, so that we can bring our talented team and be their right
                        hand in their home.</p>
                </div>
            </div>
            <div class="relative w-full lg:w-1/2 ">
                <div class="slider-clients rounded">
                    <div class="slider-clients-track">
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_1.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_2.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/emily_petro_review.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_3.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_6.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_4.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_7.jpg' %}" alt="">
                        </div>
                        <div class="slide">
                            <img src="{% static 'img/clients/cliente_service_with_love_5.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>