<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Out of Scope
                List</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">To ensure reasonable, respectful, and safe
                working conditions when booking our service, you accept our Out of Scope list:</p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Barns</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Drugs</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Dead animals</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Balcony awning washing/moss removal</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Curtains or cotton window coverings</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Bathtubs/sinks full of water (for health purposes, please drain water before we come)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Cobwebs or dusting above 10 foot ceiling</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Excrement (only droppings inside a cat litter box will be picked up)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Tile grout (shower grout is cleaned, though discoloring of silicone is permanent)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Flood Damage</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Fireplace</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Firearms</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">High hanging fans, lights over 8 ft or large chandeliers</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Large blood spills</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Mold and mildew (please call us for a referral to a specialist)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Organize, sort, or shred papers and documents</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Outside windows (except patio sliding doors)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Severely aged or moldy window tracks</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-times-circle text-2xl text-serviceTitle mr-4"></i>
                    <span class="title-font font-medium">Soot or fire damage</span>
                </div>
            </div>
        </div>
    </div>
</section>