<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">A custom solution
                includes:</h1>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Improving the look and presentation of your office.</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Organization of templates to control expenses and due dates</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Organization of tasks in electronic calendars such as (Microsoft Outlook or Google’s notifications or calendar, whatever best suits the way you work) and paper calendar.</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">We help create efficient offices using: Microsoft Excel - Microsoft Word - Microsoft Access</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Office supplies (folders , boxes, labels)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Organization of templates to control expenses and due dates</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">We help create efficient offices using: Microsoft Word</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Office supplies (folders , boxes, labels)</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">List ItemOrganize public and waiting places</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Organize supplies and materials.</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Organize wiring connections.</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Coordinate the installation of additional file storage</span>
                </div>
            </div>
        </div>
    </div>
</section>