{% load cms_tags menu_tags sekizai_tags static %}
<ul id="id_extra_opts" class="grid grid-cols-4 grid-rows-6 grid-flow-col gap-5">
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_0">
            <input type="checkbox" name="extra_opts" value="0"
                   id="id_extra_opts_0" class="checkiconinput">
        </label>
        <img src="{% static 'img/icons/board.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.0.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_1">
            <input type="checkbox" name="extra_opts" value="1"
                   id="id_extra_opts_1">
        </label>
        <img src="{% static 'img/icons/washing-dishes.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.1.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_2">
            <input type="checkbox" name="extra_opts" value="2"
                   id="id_extra_opts_2">
        </label>
        <img src="{% static 'img/icons/oven.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.2.choice_label }}</p>


    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_3">
            <input type="checkbox" name="extra_opts" value="3"
                   id="id_extra_opts_3" class="checkiconinput">
        </label>
        <img src="{% static 'img/icons/fridge.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.3.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_4">
            <input type="checkbox" name="extra_opts" value="4"
                   id="id_extra_opts_4">
        </label>
        <img src="{% static 'img/icons/cabinet.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.4.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_5">
            <input type="checkbox" name="extra_opts" value="5"
                   id="id_extra_opts_5">
        </label>
        <img src="{% static 'img/icons/washer.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.5.choice_label }}</p>


    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_6">
            <input type="checkbox" name="extra_opts" value="6"
                   id="id_extra_opts_6" class="checkiconinput">
        </label>
        <img src="{% static 'img/icons/window.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.6.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_7">
            <input type="checkbox" name="extra_opts" value="7"
                   id="id_extra_opts_7">
        </label>
        <img src="{% static 'img/icons/brickwall.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.7.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_8">
            <input type="checkbox" name="extra_opts" value="8"
                   id="id_extra_opts_8">
        </label>
        <img src="{% static 'img/icons/pet.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.8.choice_label }}</p>


    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_9">
            <input type="checkbox" name="extra_opts" value="9"
                   id="id_extra_opts_9" class="checkiconinput">
        </label>
        <img src="{% static 'img/icons/clock.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.9.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_10">
            <input type="checkbox" name="extra_opts" value="10"
                   id="id_extra_opts_10">
        </label>
        <img src="{% static 'img/icons/antique-balcony.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.10.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_11">
            <input type="checkbox" name="extra_opts" value="11"
                   id="id_extra_opts_11">
        </label>
        <img src="{% static 'img/icons/fashion.png' %}" class="h-24 w-auto fas checkiconbox object-center py-5 text-2xl text-gray-500" alt="">
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.11.choice_label }}</p>
</ul>