<ul id="id_extra_opts" class="grid grid-cols-4 grid-rows-6 grid-flow-col gap-5">
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_0">
            <input type="checkbox" name="extra_opts" value="0"
                   id="id_extra_opts_0" class="checkiconinput">
        </label>
        <i id="icon-fas" class="fas fa-table checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.0.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_1">
            <input type="checkbox" name="extra_opts" value="1"
                   id="id_extra_opts_1">
        </label>
        <i class="fas fa-hand-sparkles checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.1.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_2">
            <input type="checkbox" name="extra_opts" value="2"
                   id="id_extra_opts_2">
        </label>
        <i class="fas fa-calendar-minus checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.2.choice_label }}</p>


    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_3">
            <input type="checkbox" name="extra_opts" value="3"
                   id="id_extra_opts_3" class="checkiconinput">
        </label>
        <i id="icon-fas" class="fas fa-table checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.3.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_4">
            <input type="checkbox" name="extra_opts" value="4"
                   id="id_extra_opts_4">
        </label>
        <i class="fas fa-hand-sparkles checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.4.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_5">
            <input type="checkbox" name="extra_opts" value="5"
                   id="id_extra_opts_5">
        </label>
        <i class="fas fa-calendar-minus checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.5.choice_label }}</p>


    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_6">
            <input type="checkbox" name="extra_opts" value="6"
                   id="id_extra_opts_6" class="checkiconinput">
        </label>
        <i id="icon-fas" class="fas fa-table checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.6.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_7">
            <input type="checkbox" name="extra_opts" value="7"
                   id="id_extra_opts_7">
        </label>
        <i class="fas fa-hand-sparkles checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.7.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_8">
            <input type="checkbox" name="extra_opts" value="8"
                   id="id_extra_opts_8">
        </label>
        <i class="fas fa-calendar-minus checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.8.choice_label }}</p>


    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_9">
            <input type="checkbox" name="extra_opts" value="9"
                   id="id_extra_opts_9" class="checkiconinput">
        </label>
        <i id="icon-fas" class="fas fa-table checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.9.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_10">
            <input type="checkbox" name="extra_opts" value="10"
                   id="id_extra_opts_10">
        </label>
        <i class="fas fa-hand-sparkles checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.10.choice_label }}</p>
    <li id='iconboxservice' class="iconboxservice flex justify-center items-center">
        <label for="id_extra_opts_11">
            <input type="checkbox" name="extra_opts" value="11"
                   id="id_extra_opts_11">
        </label>
        <i class="fas fa-calendar-minus checkiconbox object-center py-5 text-2xl text-gray-500"></i>
    </li>
    <p class="choice_label text-center">{{ form.extra_opts.11.choice_label }}</p>
</ul>