<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Deep Cleaning flat rate + $ 100</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Move In / Move Out Cleaning flat  rater + $ 140</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Wash, fold or hang laundry load + $ 45</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean the inside of the refrigerator + $ 30</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean inside cabinets + $ 40</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean the inside of the oven + $ 30</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean baseboards + $ 40</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean interior windows + $ 40</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean interior walls and doors + $ 100</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Sweep the balcony and clean the floor + $ 30</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Polichar silver / copper / gold / wood + $ 40 per hour ( the polichar product is not included )</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Wash special clothes by hand ( bathing suits , shoes, special treatment to remove stains). (customer must provide soap and specify + $ 45 every hour</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Clean Fireplace + $ 30</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">One Hour of Organizing  + $ 75 ( Minimum of 2 hours )</span>
                </div>
            </div>
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <i class="fas fa-dot-circle text-2xl mr-4" style="color: #08733F"></i>
                    <span class="title-font font-medium">Special pet hair cleaning + $ 30</span>
                </div>
            </div>
        </div>
    </div>
</section>