<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-item-header">
            1. How much does your professional organizing service cost?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Our organizing services are billed at a fixed hourly rate. To book an organizing session, simply select
                our hourly service and include the item you would like to have organized in the notes section of the
                reservation.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            2. Does your house feel cluttered? Unstructured? Are your cabinets full to the brim? Is it challenging to
            find the things you want?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                With everything you have to deal with (career, family, personal life), home organization often falls by
                the wayside. That’s where we help, storing things you want to keep, identifying things you don’t,
                tackling clutter, and using your space more efficiently.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            3. Is a cleaning service part of the organizing service?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Our team of angels offers the two services independently. If the client has their own staff to provide
                cleaning services, they are welcome to use them or schedule a cleaning session as well, solely based on
                your convenience.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            4. What are the necessary tools to carry out the professional organization service?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Tools are understood to be the items necessary to carry out organizational and sorting tasks such as
                garbage bags, labeling machines, cable ties, sticky notes, boxes, baskets, filing systems,
                classification, and permanent storage and are the responsibility of the client.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            5. Once the sessions are over, who takes care of the garbage or the things that are no longer required?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                The client does the elimination of any garbage, donations or sale of any items that the client decides
                are no longer required. We advise them by giving information about companies that can assist with these
                tasks.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            6. Who buys the organizational tools such as baskets, shelves, etc.?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Organizing tools, implements, or systems are purchased by the customer, but only after the pertinent
                evaluations and selections have been made. Buying these items in advance only creates more clutter and
                chaos prior to the organizing work. The purchase is made based on the recommendations of the
                professional organizing angels with the approval of the client regarding qualities, costs, styles, etc.
                The shopping activity can be carried out in conjunction with the organizer or on your own after the plan
                has been put in place and agreed upon.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            7. Does the professional organization service require a single person or a team?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                It depends entirely on the size of the project. In most domestic cases and some office cases, two of our
                organizing angels are required, but this is established in the initial evaluation visit.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            8. What are the working hours for the professional organization service?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                They are established around each client’s needs, as it depends on their own schedules. But these do
                include weekdays, weekends, mornings or afternoons.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            9. Is the organizing work done by the Professional Organizer or the client?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                The purpose of the Professional Organizer is to provide the necessary skills to the client, helping them
                to establish organization strategies and build proficiency in their organizing skills. That is why the
                ideal session has the Professional Organizer work together with the client. There may be cases in which
                either the Professional Organizer or the client works alone, but this will be established at the
                evaluation interview and/or throughout the organization project.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            10. Apart from hiring the services of ORGANIZING WITH LOVE, should I invest in products for organizing?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                The conditions in which the organization task is carried out must be adapted not only to the abilities
                of each client but also to their budget. In case there is a budget limitation to acquire organization
                products, reuse solutions will be found with the things that are available close at hand. These
                solutions will be established at the evaluation interview and/or throughout the organization project.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            11. After finishing, do I receive additional advice?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Once the session is complete, the client will have the possibility of additional advice by telephone or
                by appointment during the first calendar month after the end of the initial session.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            12. How long will it take to organize my space?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                In the evaluation interviews, time estimates are established by space and/or project. These times can
                vary depending on the particular conditions. In the event that it is required to establish precise times
                of completion, they will be established and agreed upon with the client during the interview stage.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            13. What guarantees does ORGANIZING WITH LOVE offer me?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                As it is a service and not a product, the job guarantee refers to the level of customer satisfaction. To
                get the best results and the highest possible level of satisfaction, we suggest that the client work
                together with the professional organizer.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            14. How do you know when it’s time to get organized?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>You spend at least a few minutes every morning in mild panic because you can’t find something
                        you need.
                    </li>
                    <li>You need to rearrange the things in your kitchen so that you can get to the things you need. For
                        example, you must move a device out of the way to use another device.
                    </li>
                    <li> You need to shuffle a lot of outfits in your closet before coming up with something that really
                        fits
                        you.
                    </li>
                    <li>You have thrown your shoes on the floor of your closet because you cannot deal with the pile.
                    </li>
                    <li>You fold and fold, but your drawers always end up in a big mess.</li>
                    <li>You realize that most of your toiletries and cosmetics are rarely used</li>
                    <li>You just keep adding new mail to the existing stack every day. It is too overwhelming to face.
                    </li>
                    <li>Piles of miscellaneous papers/children’s artwork/newspapers are the first thing you see when you
                        walk
                        into a room.
                    </li>
                    <li>You can never find a pen/the scissors/the good knife when you want them.</li>
                    <li>Things are not kept in logical places and never go back to where they belong.</li>
                    <li>You cannot use a storage area for its intended purpose. Your car won’t fit in the garage, your
                        desk
                        drawer is so full of old bills that it can’t fit anything else inside.
                    </li>
                    <li>The way you store things has caused something to be broken or damaged.</li>
                    <li>Flat surfaces such as countertops and tables are stacked with papers, books, clothing, and other
                        sundries.
                    </li>
                    <li>You have no idea what’s behind the cabinet.</li>
                    <li>You have more furniture dedicated to storage than dedicated to places to sit and relax.</li>
                    <li>Opening a closet, drawer or cabinet fills you with anxiety because things are likely to fall
                        out.
                    </li>
                    <li>You feel cramped in your home due to the amount of things that take up space.</li>
                    <li>When you get home at the end of the day, there is no place for your things to rest at night.
                    </li>
                    <li>You have considered moving to have more space for your things.</li>
                    <li>You are discouraged by the appearance of your home.</li>
                </ul>
            </div>
        </div>
    </div>
</div>