<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-item-header">
            What areas do we service?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>Brooklyn</li>
                    <li>Connecticut</li>
                    <li>Long Island (additional price)</li>
                    <li>Manhattan</li>
                    <li>New Jersey Heights (additional price)</li>
                    <li>Queens</li>
                    <li>Scarsdale Westcheste</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            What are our working hours?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>7 Day service (Mon thru Sun) 8:00 a.m. to 9:00 p.m.</li>
                    <li>This includes service on holidays except for Christmas (Dec 25th) and New Years (Jan 1st).</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            How does your satisfaction guarantee work?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>Providing a pre-service tour will allow us to familiarize ourselves with your home or office.
                    </li>
                    <li>Once the service is completed, we recommended that the client check the place to inspect the
                        results to guarantee their satisfaction.
                    </li>
                    <li>Additionally, you can call us within 24 hours after completion to arrange any details at no
                        additional cost.
                    </li>
                    <li>For us, it is essential that our clients are completely satisfied and happy, and we will work
                        with you to resolve any issues should they arise.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Do I need to be at home during my cleaning?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>You can come and go as you please, as long as you make arrangements to permit entry and exit of
                        the premises beforehand.
                    </li>
                    <li>If you have an alarm system, you will need to provide us with instructions on how to disable and
                        enable it as necessary.
                    </li>
                    <li>We will make sure everything is secure before we leave, and we will close the door when we
                        leave.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Are your cleaning chemicals safe?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>You can come and go as you please, as long as you make arrangements to permit entry and exit of
                        the premises beforehand.
                    </li>
                    <li>If you have an alarm system, you will need to provide us with instructions on how to disable and
                        enable it as necessary.
                    </li>
                    <li>We will make sure everything is secure before we leave, and we will close the door when we
                        leave.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Can I give a tip?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>Although tips are not required, our Cleaning Angels are able to accept tips for their dedicated
                        work.
                    </li>
                    <li>Should you wish to tip, you can do so via your credit/debit card using our billing system, or
                        simply via cash directly to one of our Cleaning Angels.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            What is included in the cleaning?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>Our site lists our cleaning options and the included services (Regular, Deep, Green, Air BnB,
                        Office, Move in/out).
                        A list of Additional Services is available for those clients that need to customize their
                        cleaning session.
                        Our Cleaning Angles will have a work order detailing each client’s specific needs.
                        If you need something changed at the last minute, just let us know.
                    </li>
                    <li>Mobile : (929) 270-2795</li>
                    <li>Email : customerservice@servicewithlove.org</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            How long will the cleaning take, and how many cleaners do I get?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                They are established around each client’s needs, as it depends on their own schedules. But these do
                include weekdays, weekends, mornings or afternoons.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            9. Is the organizing work done by the Professional Organizer or the client?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                The purpose of the Professional Organizer is to provide the necessary skills to the client, helping them
                to establish organization strategies and build proficiency in their organizing skills. That is why the
                ideal session has the Professional Organizer work together with the client. There may be cases in which
                either the Professional Organizer or the client works alone, but this will be established at the
                evaluation interview and/or throughout the organization project.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            10. Apart from hiring the services of ORGANIZING WITH LOVE, should I invest in products for organizing?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                The conditions in which the organization task is carried out must be adapted not only to the abilities
                of each client but also to their budget. In case there is a budget limitation to acquire organization
                products, reuse solutions will be found with the things that are available close at hand. These
                solutions will be established at the evaluation interview and/or throughout the organization project.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            11. After finishing, do I receive additional advice?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Once the session is complete, the client will have the possibility of additional advice by telephone or
                by appointment during the first calendar month after the end of the initial session.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            12. How long will it take to organize my space?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                In the evaluation interviews, time estimates are established by space and/or project. These times can
                vary depending on the particular conditions. In the event that it is required to establish precise times
                of completion, they will be established and agreed upon with the client during the interview stage.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            13. What guarantees does ORGANIZING WITH LOVE offer me?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                As it is a service and not a product, the job guarantee refers to the level of customer satisfaction. To
                get the best results and the highest possible level of satisfaction, we suggest that the client work
                together with the professional organizer.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            14. How do you know when it’s time to get organized?
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <ul style="padding-left: 1rem;">
                    <li>You spend at least a few minutes every morning in mild panic because you can’t find something
                        you need.
                    </li>
                    <li>You need to rearrange the things in your kitchen so that you can get to the things you need. For
                        example, you must move a device out of the way to use another device.
                    </li>
                    <li> You need to shuffle a lot of outfits in your closet before coming up with something that really
                        fits
                        you.
                    </li>
                    <li>You have thrown your shoes on the floor of your closet because you cannot deal with the pile.
                    </li>
                    <li>You fold and fold, but your drawers always end up in a big mess.</li>
                    <li>You realize that most of your toiletries and cosmetics are rarely used</li>
                    <li>You just keep adding new mail to the existing stack every day. It is too overwhelming to face.
                    </li>
                    <li>Piles of miscellaneous papers/children’s artwork/newspapers are the first thing you see when you
                        walk
                        into a room.
                    </li>
                    <li>You can never find a pen/the scissors/the good knife when you want them.</li>
                    <li>Things are not kept in logical places and never go back to where they belong.</li>
                    <li>You cannot use a storage area for its intended purpose. Your car won’t fit in the garage, your
                        desk
                        drawer is so full of old bills that it can’t fit anything else inside.
                    </li>
                    <li>The way you store things has caused something to be broken or damaged.</li>
                    <li>Flat surfaces such as countertops and tables are stacked with papers, books, clothing, and other
                        sundries.
                    </li>
                    <li>You have no idea what’s behind the cabinet.</li>
                    <li>You have more furniture dedicated to storage than dedicated to places to sit and relax.</li>
                    <li>Opening a closet, drawer or cabinet fills you with anxiety because things are likely to fall
                        out.
                    </li>
                    <li>You feel cramped in your home due to the amount of things that take up space.</li>
                    <li>When you get home at the end of the day, there is no place for your things to rest at night.
                    </li>
                    <li>You have considered moving to have more space for your things.</li>
                    <li>You are discouraged by the appearance of your home.</li>
                </ul>
            </div>
        </div>
    </div>
</div>