{% load cms_tags menu_tags sekizai_tags static %}
<footer class="bg-gray-800 pt-10 sm:mt-10 pt-10">
    <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">
        <!-- Col-1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <img src="{% static 'img/logo_white_4.png' %}" alt="Logo Service With Love" class="w-3/4">
            <p class="text-gray-200 mt-5 text-sm">We are a company specialized in cleaning, disinfecting, organizing and giving beauty to your spaces by placing our magic at your service.</p>
            <p class="text-gray-200 mt-5 text-sm">info@servicewithlove.org</p>
            <p class="text-gray-200 mt-5 text-sm">(929) 270-2795</p>
            <p class="text-gray-200 mt-5 text-sm">Open 7 Days: 8:00 am - 7:00 pm</p>
        </div>

        <!-- Col-2 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Areas We Serve
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Brooklyn
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Connecticut
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Long Island
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Manhattan
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                New Jersey Heights
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Queens
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Scarsdale Westcheste
            </a>
        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Sections
            </div>

            <!-- Links -->
            <a href="https://servicewithlove.org/en/cleaning/regular-cleaning/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Regular Cleaning
            </a>
            <a href="https://servicewithlove.org/en/cleaning/deep-cleaning/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Deep Cleaning
            </a>
            <a href="https://servicewithlove.org/en/cleaning/green-cleaning/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Green Cleaning
            </a>
            <a href="https://servicewithlove.org/en/cleaning/move-out-cleaning/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Move In / Move Out
            </a>
            <a href="https://servicewithlove.org/en/cleaning/office-cleaning/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Office Cleaning
            </a>
            <a href="https://servicewithlove.org/en/cleaning/airbnb-cleaning/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                AIRBNB Cleaning
            </a>
            <a href="https://servicewithlove.org/en/cleaning/laundry-service/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Laundry Service
            </a>
        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Follow Our Social Networks
            </div>

            <!-- Links -->
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Instagram
            </a>

        </div>
    </div>

    <!-- Copyright Bar -->
    <div class="pt-2">
        <div class="flex pb-5 px-3 m-auto pt-5
            border-t border-gray-500 text-gray-400 text-sm
            flex-col md:flex-row max-w-6xl">
            <div class="mt-2">
                © Copyright 2021. All Rights Reserved.
            </div>

            <!-- Required Unicons (if you want) -->
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-twitter-alt"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-youtube"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-linkedin"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>