{% load cms_tags menu_tags sekizai_tags static %}

<div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right fixed bg-gray-50 h-full"
     data-width="350">
    <header class="bs-canvas-header p-8 overflow-hidden bg-gray-900">
        <button type="button" class="bs-canvas-close close" aria-label="Close"><span aria-hidden="true"
                                                                                     class="text-white">&times;</span>
        </button>
        <img class="h-20 md:h-28 lg:h-24 xl:h-32" src="{% static 'img/logo_white_55.png' %}" alt="logo_service_with_love">
    </header>
    <div class="bs-canvas-content px-10 py-5">
        {% show_menu 0 100 100 100 'menu.html' %}
    </div>
    <section class="grid grid-cols-1 grid-rows-1 gap-2 px-10 py-10">
        <div class="mt-2 flex text-sm text-gray-500 w-full h-4">
            <i class="fas fa-phone text-lg mr-4" style="color: #E2BB4D"></i>
            <h4 class="ml-1 text-base">+1 (631) 530-1432</h4>
        </div>
        <div class="mt-2 flex text-sm text-gray-500 w-full h-4">
            <i class="fas fa-clock text-lg mr-4" style="color: #E2BB4D"></i>
            <h4 class="ml-1 text-base">Open 7 Days: 8:00 am - 7:00 pm En NYC el time zone es EDT ahora mismo</h4>
        </div>
        <div class="mt-2 flex text-sm text-gray-500 w-full h-4">
            <i class="fas fa-envelope text-lg mr-4" style="color: #E2BB4D"></i>
            <h4 class="ml-1 text-base">customerservice@klinkservice.com</h4>
        </div>
    </section>
</div>


<nav class="absolute w-full bg-transparent px-5 md:px-24 lg:px-60 xl:px-80 py-4">
    <div class="flex items-top bs-offset-main bs-canvas-anim">
        <a href="/"><img class="flex-none h-20 lg:h-24 xl:h-32" src="{% static 'img/logo_white_55.png' %}" alt=""></a>
        <h4 class="flex-grow self-center text-white text-center text-sm md:text-2xl lg:text-2xl xl:text-4xl" style="font-family: 'Dancing Script', cursive;">Let us bring our magic to your Home</h4>
        <button class="flex-none justify-self-end bg-transparent text-white text-xl" type="button" data-toggle="canvas" data-target="#bs-canvas-right"
                aria-expanded="false" aria-controls="bs-canvas-right">&#9776;
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
</nav>