{% load cms_tags menu_tags sekizai_tags static %}
<section class="container mx-auto">
    {% placeholder card_organizing %}
    <div class="mx-auto items-center">
        {% placeholder our_services_organizing %}
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 grid-rows-1 items-center lg:px-32 px-5 gap-5 md:gap-6 lg:py-5 md:py-5 mt-5 lg:mt-0 md:mt-0">
        <div class="w-auto py-5 text-center">
            {% placeholder home_organization %}
        </div>
        <div class="w-auto py-5 text-center">
            {% placeholder closet_organization %}
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 grid-rows-1 items-center lg:px-32 px-5 gap-5 md:gap-6 lg:py-5 md:py-5 mt-5 lg:mt-0 md:mt-0">
        <div class="w-auto py-5 text-center">
            {% placeholder moving_organization %}
        </div>
        <div class="w-auto py-5 text-center">
            {% placeholder home_office_document %}
        </div>
    </div>
</section>