{% load cms_tags menu_tags sekizai_tags static %}

<section class="h-screen px-8 pt-28 md:pt-40 lg:pt-40 xl:pt-40 pb-12 md:pb-24 lg:pb-24 xl:pb-24 bg-no-repeat" style="background-image: url('{% static 'img/cleaning_service_in_brooklyn.jpg' %}')">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lg:grid-cols-1 grid-rows-1 md:gap-6 items-center h-full">
        <div class="w-auto h-full bg-cover">
            <div id="slider-1" class="bg-cover bg-center h-full rounded"
                 style="background-image: url('{% static 'img/slider-home/cleaning service jersey city.jpg' %}')">
            </div>
            <div id="slider-2" class="bg-cover bg-center h-full rounded"
                 style="background-image: url('{% static 'img/slider-home/cleaning service jersey city_2.jpg' %}')">
            </div>
        </div>
        <div class="w-auto h-full bg-cover">
            <div id="slider-3" class="bg-cover bg-center h-full rounded"
                 style="background-image: url('{% static 'img/slider-home/cleaning service jersey city_3.jpg' %}')">
            </div>
            <div id="slider-4" class="bg-cover bg-center h-full rounded"
                 style="background-image: url('{% static 'img/slider-home/cleaning service jersey city_4.jpg' %}')">
            </div>
        </div>
        <div class="w-auto h-full bg-cover">
            <div id="slider-5" class="bg-cover bg-center h-full rounded"
                 style="background-image: url('{% static 'img/slider-home/cleaning service jersey city_5.jpg' %}')">
            </div>
            <div id="slider-6" class="bg-cover bg-center h-full rounded"
                 style="background-image: url('{% static 'img/slider-home/cleaning service jersey city_6.jpg' %}')">
            </div>
        </div>
    </div>
</section>









