{% load cms_tags menu_tags sekizai_tags static %}

<section class="px-8 pt-28 md:pt-40 lg:pt-40 xl:pt-40 pb-12 md:pb-12 lg:pb-12 xl:pb-24 bg-no-repeat" style="background-image: url('{% static 'img/cleaning_service_in_brooklyn.jpg' %}')">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lg:grid-cols-2 grid-rows-1 md:gap-6 items-center">
        <div class="regular slider">
            <div>
                <img class="w-full rounded" src="{% static 'img/slider-home/cleaning service jersey city.jpg' %}">
            </div>
            <div>
                <img class="w-full rounded" src="{% static 'img/slider-home/cleaning service jersey city_2.jpg' %}">
            </div>
        </div>
        <div class="regular slider">
            <div>
                <img class="w-full rounded hidden xl:block lg:block md:block" src="{% static 'img/slider-home/cleaning service jersey city_3.jpg' %}">
            </div>
            <div>
                <img class="w-full rounded hidden xl:block lg:block md:block" src="{% static 'img/slider-home/cleaning service jersey city_4.jpg' %}">
            </div>
        </div>
        <div class="regular slider ">
            <div>
                <img class="w-full rounded hidden xl:block" src="{% static 'img/slider-home/cleaning service jersey city_5.jpg' %}">
            </div>
            <div>
                <img class="w-full rounded hidden xl:block" src="{% static 'img/slider-home/cleaning service jersey city_6.jpg' %}">
            </div>
        </div>

    </div>
</section>









